<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scs.resistors.firstresponder" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/health_toolbox"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".InfoDisplayActivity"
            android:label="@string/title_activity_info_display"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".DidYouKnowActivity"
            android:label="BACK TO PANICK MODE!"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="scs.resistors.firstresponder.MainActivity" />
        </activity>

        <activity
            android:name=".FirstResponder"
            android:label="@string/title_activity_first_responder"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CalorieCounterActivity"
            android:label="@string/title_activity_calorie_counter" >
        </activity>

    </application>

</manifest>
